h1{
	color:#13b3e9 ;
	text-align:center;
	margin-top:2%;
}
img{
	height: 50%;
		width:16%;
		margin: 2% 1.3% 2% 1.3%;
	
	

}
.entity{
	font-size:250%;
	
	margin-left:1%;
	text-decoration: none;

}
a.link{
	color: white;

}
.entity:hover{
	cursor: pointer;
}
.small-img:hover {
	cursor: pointer;
}
#footer_display{

	height:50%;
	width:40%;
	position:fixed;
	bottom:2%;
	margin:0% 30% 0% 30%;
}
/*@media(min-width:320px) and (max-width:950px)
{
	img{
		height:50%;
		width:16%;
		margin: 2% 1.4% 2% 1.4%;
	
	}
	#footer_display{
		height:30%;
		width:30%;

	}
	
	
		
	}*/
	@media screen and (max-width: 1300px) and (min-width:  951px)
	{
		.small-img img{
			width:  15%;
			
		}
			}
	@media screen and (max-width: 949px) and (min-width:  655px)
	{
.small-img img{
			width:  15%;
			
		}
		#footer_display{
			height: 45%;
		}
	}
	@media screen and (max-width: 654px) and (min-width:  459px)
	{
		.small-img img{
			width:  28%;

		}
		#footer_display{
			height: 30%;
			width: 46%;
			 margin: 0% 27% 0% 27%;
		}
	}
@media screen and (max-width: 460px) and (min-width:  320px)
{
	#footer_display{
			height: 43%;
			width: 60%;
			 margin: 0% 20% 0% 20%;
		}
		.small-img img{
			width: 26%;
		}
}
	.small-img img:hover{
		transform : scale(1.2,1.2);

	}
